body.landing {
    background-color: rgba(247, 247, 247, 0.5);;
}

.hero-content {
    position: relative;
    min-height: 600px;
    background-image: url(../assets/images/solar-sky.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-content .hero-title {
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 1px 1px 0px rgb(58,23,63);
}

.hero-content .hero-title .hero-sub {
  font-size: 2rem;
  font-weight: 200;
}

.selling-points {
    position: relative;
    min-height: 500px;
}

.point {
    position: relative;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    -webkit-transform: scaleX(0.9) translateY(3rem);
    -moz-transform: scaleX(0.9) translateY(3rem);
    transform: scaleX(0.9) translateY(3rem);
    -webkit-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.point  .point-title {
    font-size: 1.25rem;
}

.ion-wifi,
.ion-compass,
.ion-play,
.ion-radio-waves,
.ion-leaf {
    color: rgb(20, 49, 9);
    font-size: 15rem;
}
